<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="style.css" type="text/css"/>
</head>

<body>

  <input checked type=radio name=respond id=desktop />
  <input type=radio name=respond id=tablet />
  <input type=radio name=respond id=mobile />
  <article id=slider>
    

    <!-- MaxWidth Options -->
    
    <div class=respond>
    
      <label class=desktop for=desktop></label>
      <label class=tablet for=tablet></label>
      <label class=mobile for=mobile></label>
    
    </div> <!-- .respond -->
    
  
    <!-- Slider Setup -->
  
    <input checked type=radio name=slider id=slide1 />
    <input type=radio name=slider id=slide2 />
    <input type=radio name=slider id=slide3 />
    <input type=radio name=slider id=slide4 />
    <input type=radio name=slider id=slide5 />
  
  
    <!-- The Slider -->

    
    <div id=slides>
    
      <div id=overflow>
      
        <div class=inner>
        
          <article>
            <div class=info><h3>Seev Citycoco</h3> Order now!</div>
            <img src="https://cdn.shopify.com/s/files/1/1950/4033/products/SCR_SIdeshot_wShadow_BrandBlue_mStr_2048x2048.png?v=1495192375" />
          </article>

          
          <article>
            <div class=info><h3>Seev Citycoco</h3></div>
            <img src="https://cdn.shopify.com/s/files/1/1950/4033/products/SCR_SIdeshot_wShadow_FoamWhite_oStr_2048x2048.jpg?v=1498135528" />
          </article>
          
          <article>
            <div class=info><h3>Seev Citycoco</h3></div>

            <img src="https://cdn.shopify.com/s/files/1/1950/4033/products/SCR_SIdeshot_wShadow_BrandBlue_mStr_2048x2048.png?v=1495192375" />
          </article>
          
          <article>
            <div class=info><h3>Seev Citycoco</h3></div>
            <img src="https://cdn.shopify.com/s/files/1/1950/4033/products/SCR_SIdeshot_wShadow_FoamWhite_oStr_2048x2048.jpg?v=1498135528" />
          </article>
          
          <article>

            <div class=info><h3>Seev Citycoco</h3></div>
            <img src="https://cdn.shopify.com/s/files/1/1950/4033/products/SCR_SIdeshot_wShadow_Pitchblack_oStr_2048x2048.jpg?v=1498135355" />
          </article>
          
        </div> <!-- .inner -->
        
      </div> <!-- #overflow -->
    
    </div> <!-- #slides -->

  
  
    <!-- Controls and Active Slide Display -->
  
    <div id=controls>

      <label for=slide1></label>
      <label for=slide2></label>
      <label for=slide3></label>
      <label for=slide4></label>
      <label for=slide5></label>
    
    </div> <!-- #controls -->

    
    <div id=active>

      <label for=slide1></label>
      <label for=slide2></label>
      <label for=slide3></label>
      <label for=slide4></label>
      <label for=slide5></label>
      
    </div> <!-- #active -->
</article>

<hr>
</body>
</html>