<div class="center hero-unit">
  <h1>Welcome , Dude !</h1>

  <h2>
    Here you can buy the Seev Citycoco bikes !
  </h2>
  <%= image_tag(scr="https://cdn.shopify.com/s/files/1/1846/2043/products/SCR_SIdeshot_wShadow_Pitchblack_mStr_2048x2048.png?v=1500396902", alt: "Logo") %>
</div>

