<div class="five"><h1>the category</h1></div>


<div>
	<div class="container" style="padding-left: 3%;">
	<div class="container-fluid text-center bg-grey">
	<%@categories.each do |category|%>

	  <div class="col-lg-4">
	    	<div class="thumbnail">
			
			<p><strong><div class="demo-1"><h1>
				<b><%= link_to category.name, category_path(category.id) %></b>
				</h1></div></strong></p>
			
			
			</br>
			</div>

	</div>

	<%end%>
	</div>
	</div>
</div>