
		body,
	.dropdown-menu,
	textarea, 
	input[type="text"], 
	input[type="password"], 
	input[type="datetime"], 
	input[type="datetime-local"], 
	input[type="date"], 
	input[type="month"], 
	input[type="time"], 
	input[type="week"], 
	input[type="number"], 
	input[type="email"], 
	input[type="url"], 
	input[type="search"], 
	input[type="tel"], 
	input[type="color"], 
	.uneditable-input,
	select,
	.search_form .button-search,
	.search_form .button-search2,
	.product-filter .options .button-group button {
		color: #575757;
	}
	
	.ui-autocomplete li a {
		color: #575757 !important;
	}
		
		a,
	.dropdown-menu a,
	.vertical ul.megamenu > li > a,
	.filter-product .filter-tabs ul > li.active > a,
	.filter-product .filter-tabs ul > li.active > a:hover,
	.filter-product .filter-tabs ul > li.active > a:focus {
		color: #575757;
	}
	
	@media (max-width: 960px) {
		.responsive ul.megamenu > li > a {
			color: #575757 !important;
		}
	}
		
		a:hover,
	.box-category ul li a.active,
	.box-category ul li:hover > a,
	.box-category ul li ul a:before,
	.box-category ul li .head a,
	#categorymenu ul li ul li a:before,
	ul.contact-us li span,
	.product-list .actions > div ul,
	.product-info .cart .links a:before,
	.product-grid .product .only-hover ul li a,
	.product-list .name-desc .rating-reviews .reviews span,
	.product-list .actions > div ul,
	.main-content .content > ul li:before,
	.center-column .list-unstyled li:before,
	.breadcrumb .container ul li:before,
	ul.megamenu li .sub-menu .content .static-menu .menu ul ul li:before,
	ul.megamenu li .sub-menu .content .hover-menu a:before,
	.category-wall .name a,
	.breadcrumb .container ul li:last-child a {
		color: #00589a;
	}
	
	.product-filter .options .button-group button:hover, 
	.product-filter .options .button-group .active {
		background: #00589a;
	}
	
	.box-category ul li .head a {
		border-color: #00589a;
	}
	
	@media (max-width: 960px) {
		.responsive ul.megamenu > li.active .close-menu:before,
		.responsive ul.megamenu > li.active > a,
		.responsive ul.megamenu > li > a:hover {
			color: #00589a !important;
		}
	}
	
	@media (max-width: 767px) {
		.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:before, 
		.responsive .horizontal ul.megamenu li .sub-menu .content .static-menu .menu ul li a:before {
			color: #00589a !important;
		}
	}
		
		.compare-info .price-new, 
	.product-grid .product .price, 
	.hover-product .price,
	.product-list .actions > div .price,
	.product-info .price .price-new,
	ul.megamenu li .product .price,
	.mini-cart-total td:last-child,
	.cart-total table tr td:last-child,
	.mini-cart-info td.total,
	#quickview .price .price-new {
		color: #00589a;
	}
	
	.ui-autocomplete li span.price {
		color: #00589a !important;
	}
		
		.price-new {
		color: #00589a !important;
	}
		
		.price-old {
		color: #575757 !important;
	}
		
		
		
		textarea:focus,
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="time"]:focus,
	input[type="week"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="color"]:focus,
	.uneditable-input:focus {
		border-color: #00589a;
	}
		
	
		#top-bar .container,
	#top-bar .container > div > div > div > a,
	#top-bar .container > div > div > form > div > a,
	#top-bar .header-links a {
		color: #3c3c3c;
	}
	
	#top-bar .dropdown .caret {
		border-top: 4px solid #3c3c3c;
	}
		
		#top-bar .background {
		background: #f5f5f5;
	}
		
		#top-bar .background,
	#top-bar-right .dropdown {
		border-color: #eaeaea;
	}
	
		#top #cart_block .cart-heading div {
		background: #ffe000; /* Old browsers */
		background: -moz-linear-gradient(top, #ffe000 0%, #ffe000 50%, #ffd900 51%, #ffd900 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe000), color-stop(50%,#ffe000), color-stop(51%,#ffd900), color-stop(100%,#ffd900)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffe000 0%,#ffe000 50%,#ffd900 51%,#ffd900 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffe000 0%,#ffe000 50%,#ffd900 51%,#ffd900 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ffe000 0%,#ffe000 50%,#ffd900 51%,#ffd900 100%); /* IE10+ */
		background: linear-gradient(to bottom, #ffe000 0%,#ffe000 50%,#ffd900 51%,#ffd900 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe000', endColorstr='#ffd900',GradientType=0 ); /* IE6-9 */
	}
		
		#top #cart_block .cart-heading p {
		color: #575757;
	}
		
		#top #cart_block .cart-heading .cart-icon {
		background-color: #575757;
	}
		
		ul.megamenu > li > a,
	.megamenuToogle-wrapper .container {
		color: #ffffff;
	}
	
	.megamenuToogle-wrapper .container > div span {
		background: #ffffff;
	}
	
			
		.megamenu-wrapper,
	.megamenuToogle-wrapper {
		background: #005c9f; /* Old browsers */
		background: -moz-linear-gradient(top, #005c9f 0%, #005c9f 50%, #005495 51%, #005495 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005c9f), color-stop(50%,#005c9f), color-stop(51%,#005495), color-stop(100%,#005495)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #005c9f 0%,#005c9f 50%,#005495 51%,#005495 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #005c9f 0%,#005c9f 50%,#005495 51%,#005495 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #005c9f 0%,#005c9f 50%,#005495 51%,#005495 100%); /* IE10+ */
		background: linear-gradient(to bottom, #005c9f 0%,#005c9f 50%,#005495 51%,#005495 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005c9f', endColorstr='#005495',GradientType=0 ); /* IE6-9 */
	}
		
		ul.megamenu > li > a:hover, 
	ul.megamenu > li.active > a, 
	ul.megamenu > li.home > a, 
	ul.megamenu > li:hover > a {
		background: #ffdd00;
	}
		
		ul.megamenu > li.home > a {
		color: #00589a;
	}
	
		ul.megamenu > li.home > a {
		text-shadow: 1px 1px 1px #fff;
	}
			
		ul.megamenu > li.home > a {
		background: #ffe000; /* Old browsers */
		background: -moz-linear-gradient(top, #ffe000 0%, #ffe000 50%, #ffd800 51%, #ffd800 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe000), color-stop(50%,#ffe000), color-stop(51%,#ffd800), color-stop(100%,#ffd800)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffe000 0%,#ffe000 50%,#ffd800 51%,#ffd800 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffe000 0%,#ffe000 50%,#ffd800 51%,#ffd800 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ffe000 0%,#ffe000 50%,#ffd800 51%,#ffd800 100%); /* IE10+ */
		background: linear-gradient(to bottom, #ffe000 0%,#ffe000 50%,#ffd800 51%,#ffd800 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe000', endColorstr='#ffd800',GradientType=0 ); /* IE6-9 */
	}
		
		.breadcrumb .container ul li a {
		color: #575757;
	}
		
		.breadcrumb .container ul li:last-child a,
	.breadcrumb .container ul li:before {
		color: #575757;
	}
		
		.breadcrumb .container h1 {
		color: #575757;
	}
		
		.camera_wrap .camera_pag .camera_pag_ul li,
	.camera_wrap .owl-controls .owl-pagination span,
	.tp-bullets .bullet {
		background: #f5f5f5;
	}
		
		.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent,
	.tp-bullets .selected, 
	.camera_wrap .owl-controls .owl-pagination .active span,
	.tp-bullets .bullet:hover {
		background: #00589a;
	}
	
		.sale {
		color: #ffffff;
	}
		
		.sale {
		background: #005c9f; /* Old browsers */
		background: -moz-linear-gradient(top, #005c9f 0%, #005c9f 50%, #005495 51%, #005495 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005c9f), color-stop(50%,#005c9f), color-stop(51%,#005495), color-stop(100%,#005495)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #005c9f 0%,#005c9f 50%,#005495 51%,#005495 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #005c9f 0%,#005c9f 50%,#005495 51%,#005495 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #005c9f 0%,#005c9f 50%,#005495 51%,#005495 100%); /* IE10+ */
		background: linear-gradient(to bottom, #005c9f 0%,#005c9f 50%,#005495 51%,#005495 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005c9f', endColorstr='#005495',GradientType=0 ); /* IE6-9 */
	}
		
		.rating i {
		color: #abcee8;
	}
	
	.rating i, 
	.rating i:before {
	    background: -webkit-gradient(linear, left top, left bottom, from(#abcee8), to(#abcee8));
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	    display: initial;
	}
		
		.rating i.active {
		color: #ffdb00;
	}
	
	.rating i.active, 
	.rating i.active:before {
	    background: -webkit-gradient(linear, left top, left bottom, from(#ffdb00), to(#ffdb00));
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	    display: initial;
	}
		
		.button,
	.btn {
		color: #00589a !important;
	}
	
		.button,
	.btn {
		text-shadow: 1px 1px 1px #fff;
	}
			
		.button,
	.btn {
		background: #ffe000; /* Old browsers */
		background: -moz-linear-gradient(top, #ffe000 0%, #ffe000 50%, #ffd800 51%, #ffd800 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe000), color-stop(50%,#ffe000), color-stop(51%,#ffd800), color-stop(100%,#ffd800)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffe000 0%,#ffe000 50%,#ffd800 51%,#ffd800 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffe000 0%,#ffe000 50%,#ffd800 51%,#ffd800 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ffe000 0%,#ffe000 50%,#ffd800 51%,#ffd800 100%); /* IE10+ */
		background: linear-gradient(to bottom, #ffe000 0%,#ffe000 50%,#ffd800 51%,#ffd800 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe000', endColorstr='#ffd800',GradientType=0 ); /* IE6-9 */
	}
	
		.button:hover,
		.btn:hover {
			background: #ffd800; /* Old browsers */
			background: -moz-linear-gradient(top, #ffd800 0%, #ffd800 50%, #ffe000 51%, #ffe000 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd800), color-stop(50%,#ffd800), color-stop(51%,#ffe000), color-stop(100%,#ffe000)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #ffd800 0%,#ffd800 50%,#ffe000 51%,#ffe000 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #ffd800 0%,#ffd800 50%,#ffe000 51%,#ffe000 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #ffd800 0%,#ffd800 50%,#ffe000 51%,#ffe000 100%); /* IE10+ */
			background: linear-gradient(to bottom, #ffd800 0%,#ffd800 50%,#ffe000 51%,#ffe000 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd800', endColorstr='#ffe000',GradientType=0 ); /* IE6-9 */
		}
		
		.buttons .left .button, 
	.buttons .center .button,
	.btn-default,
	.input-group-btn .btn-primary {
		color: #ffffff !important;
	}
		
		.buttons .left .button, 
	.buttons .center .button,
	.btn-default,
	.input-group-btn .btn-primary {
		background: #005c9f; /* Old browsers */
		background: -moz-linear-gradient(top, #005c9f 0%, #005c9f 50%, #005495 51%, #005495 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005c9f), color-stop(50%,#005c9f), color-stop(51%,#005495), color-stop(100%,#005495)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #005c9f 0%,#005c9f 50%,#005495 51%,#005495 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #005c9f 0%,#005c9f 50%,#005495 51%,#005495 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #005c9f 0%,#005c9f 50%,#005495 51%,#005495 100%); /* IE10+ */
		background: linear-gradient(to bottom, #005c9f 0%,#005c9f 50%,#005495 51%,#005495 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005c9f', endColorstr='#005495',GradientType=0 ); /* IE6-9 */
	}
	
		.buttons .left .button:hover, 
		.buttons .center .button:hover,
		.btn-default:hover,
		.input-group-btn .btn-primary:hover {
			background: #005495; /* Old browsers */
			background: -moz-linear-gradient(top, #005495 0%, #005495 50%, #005c9f 51%, #005c9f 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005495), color-stop(50%,#005495), color-stop(51%,#005c9f), color-stop(100%,#005c9f)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #005495 0%,#005495 50%,#005c9f 51%,#005c9f 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #005495 0%,#005495 50%,#005c9f 51%,#005c9f 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #005495 0%,#005495 50%,#005c9f 51%,#005c9f 100%); /* IE10+ */
			background: linear-gradient(to bottom, #005495 0%,#005495 50%,#005c9f 51%,#005c9f 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005495', endColorstr='#005c9f',GradientType=0 ); /* IE6-9 */
		}
		
		.camera_wrap .owl-controls .owl-buttons .owl-next:after,
	.camera_wrap .owl-controls .owl-buttons .owl-prev:after,
	.nivo-directionNav a:after,
	.fullwidthbanner-container .tp-leftarrow:after,
	.fullwidthbanner-container .tp-rightarrow:after,
	.tab-content .prev-button span, 
	.tab-content .next-button span,
	.box > .prev span, 
	.box > .next span,
	.carousel-brands .owl-prev, 
	.carousel-brands .owl-next {
		color: #00589a;
	}
	
		
		
		ul.contact-us li i {
		color: #00589a;
	}
		
		.custom-footer h4,
	.custom-footer .background,
	.standard-body .custom-footer .background,
	.fb-like-box,
	ul.contact-us li i {
		border-color: #e9e9e9;
	}
		
		.custom-footer .background,
	.standard-body .custom-footer .background {
		background: #fcfcfc;
	}
	
	.custom-footer .pattern {
		background: none;
	}
		
		
		
		.footer ul li a:before {
		color: #00589a;
	}
		
		
	
