@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  padding-top: 20px;
}

.center h1 {
  margin-bottom: 10px;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* header */

header {
}
.logo {
  float: left;
}
.desktop {
  float: right;
  display: flex;
}
.navicon {
  float: right;
  transform: rotate(90deg);
  display: none;
}
.menu {
  margin-right: 50px;
}
@media screen and (max-width: 500px) {
  .navicon {
    display: block;
  }
  .desktop {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 50px;
  }
  .menu {
    width: 100%;
  }
  .phone {
    width: 100%;
  }
}




#logo 

{
font: 15pt sans-serif;  
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 5px;
  font-weight: bold;
  line-height: 2.5;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}




/* footer */

footer {
  margin-top: 150px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}



.one {
  padding: 50px 20px;
  text-align: center;
}
.one h1 {
  font-family: 'Righteous', cursive;
  position: relative;
  color: #778899; 
  display: inline-block;
  border-top: 2px solid;
  border-bottom: 2px solid;
  font-size: 32px;
  padding: 11px 300px;
  margin: 0; 
  line-height: 1;
}
.one h1:before, .one h1:after {
  content: ""; 
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  border-left: 2px solid;
  border-right: 2px solid;
  background: repeating-linear-gradient(180deg, transparent, transparent 2px, #778899 2px, #778899 4px);
}
.one h1:before {left: 0;}
.one h1:after {right: 0;}
@media (max-width: 420px) {
  .one h1 {font-size: 2em;}
}

.demo-1 h1 {
    margin: 1em 0 0.5em 0;
    color: #778899;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;  
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
}




 
.container1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
}

/* Left Column */
img {
 margin: 0 75px 0 0;
}

.item {
    width: 120px;
    min-height: 120px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Price */
.product-price {
 
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

.cart-btnn {
  display: inline-block;
  background-color: #2196F3;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px 30px;
  transition: all .5s;
}
.cart-btnn:hover {
  background-color: #0b7dda;
}




.on {
  font-family: Verdana;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: #FF7F50;
  text-shadow:
    0 1px 0 #CCCCCC,
    0 2px 0 #C9C9C9,
    0 3px 0 #BBBBBB,
    0 4px 0 #B9B9B9,
    0 5px 0 #AAAAAA,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.onn {
  font-family: Verdana;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: #808080;
  text-shadow:
    0 1px 0 #CCCCCC,
    0 2px 0 #C9C9C9,
    0 3px 0 #BBBBBB,
    0 4px 0 #B9B9B9,
    0 5px 0 #AAAAAA,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}


#wrapper {
    width:960px;
    height:220px;
     background: none;

}
.section {
    border:solid 1px #999;
    float:left;
    height:360px;
    margin-left:10px;
    width:310px;
    background: none;
}
#wrapper div:first-child {
margin-left:0px;
}

.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 30px 30px 30px 30px; /* Отступы вокруг картинки */
   }