<footer class="footer">
  <small>
 <strong>© 2018 ELBIKES. Спеціалізований магазин, де можна купити електрбайки, а також аксесуари та запчастини до них. Тел. (066) 406-12-79</strong>
</small>
  <nav>
    <ul>
     <strong><li><%= link_to "Контакти", contact_path %></li></strong>
    </ul>
  </nav>
</footer>
